body {
    margin:0;
    padding:0;
    font-family: Sans-Serif;
    line-height: 1.5em;
}

#header {
    background: #18426b;
    height: 125px;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

#nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 50px;
    margin-left: -100%;
    background: #eee;
}

#classdiv {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: right;
    width: 800px;
    margin-left: -100%;
    background: #eee;
}

#footer {
    clear: left;
    width: 100%;
    background: #18426b;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
}

#department {
    margin-left: 50px; /* Same as 'nav' width */
    height: 300px
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    padding:3px;
}

.innertube {
    margin: 15px; /* Padding for department */
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    color: darkgreen;
    text-decoration: none;
}

department ul a {

}
