{% extends "bootstrap/base.html" %}

{% block title %}IC Schedulizer{% endblock %}

{% block head %}
{{ super() }}
    <!-- ADD A FAVICON??-->
    <link rel="stylesheet" href="style.css" type="text/css">
{% endblock %}

{% block content %}
		<header id="header">
			<div class="innertube">
				<h1>IC Schedulizer</h1>
				<p><h3>Classes &nbsp;&nbsp;&nbsp;&nbsp; Schedules</h3></p>
			</div>
		</header>

		<div id="wrapper">
			<main>
				<div id="department">
					<div class="innertube">
                        {% block dept_content %}{% endblock %}
							<!--<p>Accounting</p>
							<p>Anthropology</p>
							<p>Arabic</p>
							<p>Art</p>
							<p>Art History</p>
							<p>Biochemistry</p>
							<p>Biology</p>
							<p>Buisness-Grad</p>
							<p>Accounting</p>
							<p>Anthropology</p>
							<p>Arabic</p>
							<p>Art</p>
							<p>Art History</p>
							<p>Biochemistry</p>
							<p>Biology</p>
							<p>Buisness-Grad</p>-->
					</div>
				</div>
			</main>


			<nav id="nav">
				<div class="innertube">
					<h3> </h3>
					<ul>
						<li><a href="#">A</a></li>
						<li><a href="#">B</a></li>
						<li><a href="#">C</a></li>
						<li><a href="#">D</a></li>
						<li><a href="#">E</a></li>
						<li><a href="#">F</a></li>
						<li><a href="#">G</a></li>
						<li><a href="#">H</a></li>
						<li><a href="#">I</a></li>
						<li><a href="#">J</a></li>
						<li><a href="#">L</a></li>
						<li><a href="#">M</a></li>
						<li><a href="#">O</a></li>
						<li><a href="#">P</a></li>
						<li><a href="#">R</a></li>
						<li><a href="#">S</a></li>
						<li><a href="#">T</a></li>
						<li><a href="#">W</a></li>


					</ul>
				</div>


			</nav>

			<nav id="classdiv">
				<div class="innertube">
					{% block course_content %}{% endblock %}
				</div>


			</nav>

		</div>
		<footer id="footer">
			<div class="innertube">
				<p>Selected Classes</p>
                {% block selected_classes %}{% endblock %}
			</div>
		</footer>

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{% endblock %}